Hello <%= @user.full_name %>,

<br><br>

<p>
  You have requested for password reset. 
</p>

<p>
  <b>Use Following Token to Reset Your Password :</b>
  <br>
  <b>Token : </b> <%= @user.reset_password_token %>
</p>

<p><b>Note : -</b> This token is valid for 4 hours only.</p>

Thanks
<br>
